CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
SDKs/
GameEnginesPractice/out/build/
GameEnginesPractice/.vs/
GameEnginesPractice/Media/*
/homeworks/